
html, html a {
    text-decoration: none !important;
    text-rendering: geometricprecision;
}
body {
    background: #f1f1f1 none repeat scroll 0 0;
    color: #21242b;
    font-family: sbold;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #333;
    font-weight: normal;
    margin-top: 0;
}
.col-centered {
    display: inline-block;
    float: none !important;
}
.row-centered {
    text-align: center;
}
.header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e2dede;
    min-height: 65px;
}
.container {
    max-width: 1000px;
}
.logo {
    float: left;
}
.logo img {
    margin-top: 11px;
}
.menuContain .navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin-bottom: 0;
}
.menuContain .navbar-brand {
    display: none;
}
.menuContain .navbar-default .navbar-nav > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #3bc2f2;
    font-size: 16px;
    line-height: 31px;
    margin: 0 18px;
    padding-left: 0;
    padding-right: 0;
    transition: color 0.25s ease 0s;
}
.menuContain .navbar-nav li a:hover, .menuContain .navbar-nav li.active a {
    border-bottom: 2px solid #13a7db;
    color: #13a7db !important;
    line-height: 30px;
}
#profileOption {
    display: none;
}
.menuContain .bottomMenu {
    float: right;
}
.searchHeader {
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 0 0;
    display: block;
    float: right;
}
.containNotification > a {
    background: rgba(0, 0, 0, 0) url("../images/william2.png") no-repeat scroll 0 0 / 30px 30px;
    border-radius: 50%;
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 50;
}
.containNotification {
    cursor: pointer;
    float: right;
    height: 34px;
    margin-top: 18px;
    position: relative;
    width: 33px;
}
.containNotification p {
    background: #ff0d40 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    font-family: reqular;
    font-size: 11px;
    margin: 0;
    padding: 1px 6px;
    position: absolute;
    right: 0;
    z-index: 100;
}
.searchHeader {
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    float: right;
    height: 27px;
    margin-left: 11px;
    margin-top: 22px;
    width: 22px;
}
#searchHeader {
    display: none;
}
.containNotification .popover-content a {
    border-bottom: 1px solid #e4e0e0;
    color: #6b6b6b;
    display: block;
    font-family: regular;
    font-size: 14px;
    line-height: 33px;
    padding: 0 20px 3px;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    width: 183px;
}
.containNotification .popover-content a:last-child {
    border-bottom: medium none;
}
.containNotification .popover-content {
    padding: 0;
}
.containNotification .popover-content a:hover {
    background: #fbfbfb none repeat scroll 0 0;
}
.form-search input {
    color: #6f6f6f;
    min-width: 200px;
    padding: 4px 9px;
    width: 100%;
}
.form-search button {
    background: #00adeb none repeat scroll 0 0;
    color: #fff;
    font-family: regular;
    margin-top: 8px;
    transition: all 0.25s ease 0s;
    width: 100%;
}
.form-search button:hover {
    background: #10bdfb none repeat scroll 0 0;
    color: #fff;
}
.menuContain {
    float: right;
    padding: 0;
}
.DashBoard {
}
.SvgStyle {
}
.footer .container-fluid {
    background: #3bc2f2 none repeat scroll 0 0;
    padding: 50px 20px;
}
.footer {
    margin-top: 30px;
}
.footer p {
    color: #333333;
    font-size: 13px;
}
.footerlink {
    margin-bottom: 15px;
}
.footerlink a {
    color: #333333;
    font-size: 13px;
    margin: 0 5px;
}
.footerSocial {
}
.footerSocial a {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: #f9f9f9;
    height: 28px;
    line-height: 28px;
    margin: 0 8px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 28px;
}
.footerSocial a i {
}
.marginTopFooter {
    margin-top: -45px;
}
.headerBtnContain {
    float: right;
    padding: 0;
}
.path {
    margin-top: 80px;
    overflow: hidden;
    text-align: center;
}
.path h1, .path h2 {
    float: left;
    margin: 0 7px;
    overflow: hidden;
}
.path h1 a {
    font-size: 15px;
}
.path h1 a, .path h2 a {
    color: #45413e;
    float: right;
    font-size: 12px;
    line-height: 63px;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(60, 150, 210, 0.1);
}
.path h1 a {
    color: #3bc2f2;
}
.path > div {
    display: inline-block;
    float: none;
    margin: auto;
    overflow: hidden;
}
.pageBigTitle {
    position: relative;
    text-align: center;
}
.pageBigTitle h2 {
    background: #f1f1f1 none repeat scroll 0 0;
    color: #45413e;
    display: inline-block;
    font-size: 40px;
    margin: auto;
    padding: 0 13px;
    text-align: center;
}
.pageBigTitle span {
    background: #e5e2df none repeat scroll 0 0;
    bottom: 23px;
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: -10;
}
.DashBoard > .container {
    padding: 0 0 62px;
}
.containCameraMap {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c8ced4;
    border-radius: 4px;
    margin-top: 97px;
    text-align: center;
}
.profileDash {
    display: inline-block;
    margin: -78px auto auto;
    width: 170px;
}
.profileDash a img {
    backface-visibility: hidden;
    border: 1px solid #8e9aa8;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 150px;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: all;
    vertical-align: middle;
    width: 150px;
}
.profileDash a img:hover {
    border: 1px solid #35414f;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
    transform: translateY(-6px) !important;
}
.profileDash h3 {
    color: #45413e;
    font-family: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 12px;
}
.profileDash p {
    color: #45413e;
    font-family: regular;
    font-size: 15px;
}
.profileDash > div {
    overflow: hidden;
    text-align: center;
    width: auto;
}
.profileDash > div > div {
    display: inline-block;
    margin: auto;
    overflow: hidden;
    width: auto;
}
.settingIcon {
    background: rgba(0, 0, 0, 0) url("../images/setting.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 21px;
    margin-right: 9px !important;
    margin-top: 3px;
    width: 21px;
}
.signoutIcon {
    background: rgba(0, 0, 0, 0) url("../images/Logout.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 19px;
    margin-top: 5px;
    width: 18px;
}
.historyIcon {
    background: rgba(0, 0, 0, 0) url("../images/History.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 22px;
    margin-right: 12px !important;
    margin-top: 2px;
    width: 18px;
}
.cameraInfo {
    padding-right: 7px;
    position: relative;
}
.mapInfo {
    float: right;
    padding-left: 12px;
    position: relative;
}
.camera, .balance {
}
.camera > div, .balance > div {
    background: #f4f7fa none repeat scroll 0 0;
    border: 1px solid #d1d8e1;
    border-radius: 1px;
    height: 228px;
    transition: all 0.3s ease 0s;
}
.camera {
    padding-right: 5px;
}
.balance {
    padding-left: 5px;
}
.containCameraAndMap {
    margin-top: 13px;
    padding: 0 38px;
}
.mapInfo > .mapImages {
    background: rgba(0, 0, 0, 0) url("../images/map.jpg") no-repeat scroll 0 0 / 100% 100%;
    border: 1px solid #b5b9bc;
    height: 310px;
    max-width: 478px;
}
.camera > div {
    background: #f4f7fa url("../images/Webcam.png") no-repeat scroll 7px 6px;
}
.balance > div {
    background: #f4f7fa url("../images/Pair-Of-Bills.png") no-repeat scroll 7px 6px;
}
.camera > div > div {
    margin-top: 5px;
    overflow: hidden;
}
.camera > div > div > div {
    float: left;
    margin: 0 25px;
}
.camera > div > div > div p {
    font-family: bold;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}
.camera > div > div > div span {
    font-size: 15px;
    text-align: center;
}
.online {
    color: #64ba4d;
}
.offline {
    color: #eb2438;
}
.camera > div > p, .balance > div > p {
    color: #5a6778;
    font-family: bold;
    font-size: 48px;
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}
.camera > div > span, .balance > div > span {
    color: #5a6778;
    font-size: 21px;
    text-align: center;
}
.balance > div > div > a {
    color: #5a6778;
    font-family: regular;
    font-size: 21px;
}
.balance > div > div {
    margin-top: 57px;
}
.history {
    padding-right: 7px;
}
.newsoffers {
    float: right;
    margin-top: 16px;
    padding-left: 0;
}
.history > div {
    background: #f4f7fa none repeat scroll 0 0;
    border: 1px solid #d1d8e1;
    border-radius: 1px;
    margin-top: 10px;
    min-height: 315px;
    overflow: hidden;
}
.newsoffers > div {
    background: #f4f7fa none repeat scroll 0 0;
    border: 1px solid #d1d8e1;
    border-radius: 1px;
    float: right;
    margin-right: 12px;
    min-height: 227px;
    padding-left: 0;
    width: 478px;
}
.history > div {
    background: #f4f7fa url("../images/Notification.png") no-repeat scroll 15px 11px;
}
.newsoffers > div {
    background: #f4f7fa url("../images/Newspaper.png") no-repeat scroll 13px 19px;
}
.history > div > h1, .newsoffers > div > h1 {
    color: #5a6778;
    float: left;
    font-size: 21px;
    margin-top: 13px;
    padding-left: 50px;
}
.newsoffers > div > h1 {
    margin-top: 19px;
}
.newsoffers > div > p {
    color: #5a6778;
    float: left;
    font-family: regular;
    font-size: 14px;
    padding: 0 20px;
    text-align: left;
}
.history > div > div {
    background: #fafbfd none repeat scroll 0 0;
    color: #5a6778;
    display: block;
    float: left;
    font-family: regular;
    font-size: 14px;
    padding: 4px 20px;
    text-align: left;
    width: 100%;
}
.history > div > div span {
    color: #5a6778;
    float: right;
    font-family: bold;
    font-size: 11px;
    line-height: 23px;
}
.history > div > div:nth-child(2n) {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #f4f7fa;
    border-top: 1px solid #f4f7fa;
}
.dragDrop {
    height: 553px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.dragDrop > div {
    height: 100%;
    position: relative;
    width: 100%;
}
.dragDrop > div {
    background: #5a6778 url("../images/Webcam-h.png") no-repeat scroll 9px 9px;
}
.closeDiv {
    background: rgba(0, 0, 0, 0) url("../images/Delete.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    z-index: 2000;
}
.dragDrop .camera > div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.dragDrop .camera > div > p, .dragDrop .camera > div > span {
    color: #fff;
}
.camera > div > span {
    font-size: 18px;
}
.allCameraContent {
    width: 92% !important;
}
.CameraDragable {
    background: #fff url("../images/Webcam-small.png") no-repeat scroll 13px 5px;
    border-radius: 12px;
    cursor: pointer;
    height: 27px;
    margin-top: 5px;
    width: 100%;
}
.CameraDragable > p {
    background: rgba(0, 0, 0, 0) url("../images/drag.png") no-repeat scroll right 11px center;
    color: #5a6778;
    line-height: 26px;
    margin: 0;
}
.dragDrop .slimScrollDiv {
    margin: 37px 0;
}
.dragDrop .slimScrollBar {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 0 !important;
    display: none;
    height: 176.042px;
    opacity: 1 !important;
    position: absolute;
    right: 22px !important;
    top: 84px;
    width: 2px !important;
    z-index: 99;
}
.mapInfo .CameraDragable {
    background: rgba(0, 0, 0, 0) url("../images/shape.png") no-repeat scroll 0 0;
    height: 41px;
    width: 36px;
}
.mapInfo .CameraDragable p {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    content: "";
    text-indent: -9999px;
}
.dragDrop .camera > div > div > div {
    float: left;
    margin: 0 17px;
}
.clickHere {
    cursor: pointer;
    font-size: 14px !important;
    line-height: 38px !important;
    margin: 0 !important;
    text-shadow: 0 0 1px rgba(200, 200, 200, 0.5);
}
.camera.col-md-6 > div:hover {
    background: #f0f3f6 url("../images/Webcam.png") no-repeat scroll 7px 6px;
}
.balance > div:hover {
    background: #f0f3f6 url("../images/Pair-Of-Bills.png") no-repeat scroll 7px 6px;
}
.mainPage .footer .container-fluid {
    background: #ffffff none repeat scroll 0 0;
    min-height: 290px;
}
.mainPage {
}
.mainPage .footer {
    margin: 0;
}
.mainPage .marginTopFooter {
    margin-top: 5px;
}
.mainPage .footer p {
    color: #002c6c;
    margin-bottom: 13px;
}
.mainPage .footerlink a {
    color: #002c6c;
}
.mainPage .footerSocial a {
    border: 1px solid #002c6c;
    color: #002c6c;
}
.footerSocial a:hover {
    background: #fff none repeat scroll 0 0;
    color: #3bc2f2;
}
.mainPage .footerSocial a:hover {
    background: #002c6c none repeat scroll 0 0;
    color: #fff;
}
.custom-slider {
}
.custom-slider .item {
}
.custom-slider .item.active {
}
.custom-slider .item > img {
    min-height: 320px;
}
.itemImg {
    background: rgba(0, 0, 0, 0) url("../images/main.jpg") no-repeat scroll 0 0 / cover ;
    min-height: 725px;
}
.custom-slider .carousel-caption p {
    color: #fff;
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
}
.custom-slider .carousel-caption span {
    color: #fff;
    font-family: regular;
    font-size: 20px;
    text-transform: uppercase;
}
.custom-slider .carousel-caption {
    bottom: auto;
    left: 10%;
    padding-bottom: 30px;
    right: 10%;
    top: 30%;
}
.SliderStyle {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 100;
}
.offer > img, .mobileApp > img, .footer > img {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.mainPage .footer {
    position: relative;
}
.offer, .mobileApp {
    position: relative;
}
.SliderStyle > img, .SvgStyle > img {
    width: 100%;
}
.sliderShow {
    position: relative;
}
.custom-slider .carousel-indicators {
    bottom: 235px;
    z-index: 1000;
}
.custom-slider .carousel-indicators li {
    background-color: #b4b4b4;
    border: medium none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    margin: 1px;
    text-indent: -999px;
    width: 13px;
}
.custom-slider .carousel-indicators .active {
    background-color: #fff;
    height: 13px;
    margin: 1px;
    width: 13px;
}
.howItWork {
    background: #fff none repeat scroll 0 0;
    min-height: 473px;
}
.offer {
    background: #f9f9f9 none repeat scroll 0 0;
    min-height: 1300px;
    padding-top: 37px;
}
.services {
    background: #69d3f9 none repeat scroll 0 0;
    min-height: 542px;
}
.mobileApp {
    background: #494949 none repeat scroll 0 0;
    min-height: 564px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0.7;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-fade .fa-chevron-left, .carousel-fade .fa-chevron-right {
    line-height: 29;
}
.howItWork > div h2 {
    color: #3bc2f2;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
}
.detailsHow {
    margin-top: 45px;
    text-align: center;
}
.detailsHow div {
    display: inline-block;
    float: none;
    margin: 0 11px;
}
.detailsHow img {
}
.detailsHow div:first-child {
    margin-right: 74px;
}
.detailsHow p {
    color: #404040;
    font-size: 18px;
    margin: 25px auto auto;
    max-width: 700px;
}
.offer > div h2 {
    color: #1dabde;
    font-size: 31px;
    line-height: 40px;
    margin: 60px auto auto;
    max-width: 710px;
    text-align: center;
    text-transform: uppercase;
}
.thumbnail .caption {
    text-align: center;
}
.offersDetails {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.offersDetails > img {
}
.offersDetails .caption {
}
.offersDetails .caption h3 {
    color: #404040;
    font-size: 18px;
}
.offersDetails .caption p {
    color: #000;
    font-family: regular;
    font-size: 15px;
    line-height: 19px;
    margin: auto;
    max-width: 260px;
}
.offer .row > div {
    height: 290px;
    margin: 55px 0 0;
}
.services > div > h2 {
    color: #f9f9f9;
    margin-top: 43px;
    text-align: center;
}
.services {
}
.servicesDetails {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 27px 27px 19px;
    min-height: 335px;
    transition: all 0.8s ease 0s;
}
.servicesDetails .caption {
    margin-top: 26px;
}
.servicesDetails .caption p {
    color: #fff;
    font-family: regular;
    font-size: 15px;
    transition: all 0.8s ease 0s;
}
.servicesDetails img {
    margin-top: 55px;
}
.servicesDetails:hover .caption p {
    color: #0d3d6a;
}
.servicesDetails:hover {
    background: #fff none repeat scroll 0 0;
}
.DownloadApp {
}
.MobileStyle {
    min-height: 457px;
    overflow: visible;
}
.DownloadApp p {
    color: #fff;
    font-size: 29px;
    margin-bottom: 0;
}
.DownloadApp span {
    color: #fff;
    float: left;
    font-family: regular;
    font-size: 18px;
    margin-top: 27px;
}
.DownloadApp a {
    float: left;
    margin-right: 17px;
    margin-top: 50px;
}
.googleStore {
}
.DownloadApp p:first-child {
    margin-top: 117px;
}
.iphone1 {
    background: rgba(0, 0, 0, 0) url("../images/img16.png") no-repeat scroll 0 0;
    bottom: -172px;
    height: 724px;
    position: absolute;
    right: -83px;
    width: 587px;
}
.footerStyle {
    bottom: 0;
    top: auto !important;
}
.iphone1 {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-delay: 0s;
    transition-duration: 0.7s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95), cubic-bezier(0.39, 0.575, 0.565, 1);
}
.languageIcon {
    background: rgba(0, 0, 0, 0) url("../images/turk.jpg") no-repeat scroll 0 0 / 100% 100%;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    margin-left: 11px;
    margin-top: 18px;
    width: 30px;
}
#languageIcon {
    display: none;
}
.popover-content > div a {
    display: block;
    line-height: 32px;
    text-decoration: none;
}
.popover-content > div a i {
    background: rgba(0, 0, 0, 0) url("../img/bootstrap-formhelpers-countries.flags.png") no-repeat scroll 0 0;
    height: 14px;
    margin-right: 5px;
    width: 16px;
}
.bfh-flag-TU {
    background-position: -3162px 0 !important;
}
.bfh-flag-GB {
    background-position: -1156px 0 !important;
}
.footer p a {
    color: inherit;
}
.searchcamera {
    margin: 20px 3% 0;
    position: absolute;
    width: 86%;
}
.searchcamera input {
    border: 1px solid #c7cfd9;
    border-radius: 16px !important;
    box-shadow: none;
    color: #89857c;
    height: 32px;
}
.searchcamera input::-moz-placeholder {
    color: #e9e5dc;
    font-family: regular;
    font-size: 15px;
}
.dragDrop .searchcamera {
    margin: 10px 11% 0;
    position: static;
    width: 76%;
}
.pleasedrag {
    color: #fff !important;
    display: block;
    font-family: regular;
    font-size: 12px !important;
    margin-top: 5px;
    padding: 0 11px;
}
.contentcontainer {
    margin-top: 42px;
}
.login .pageBigTitle h2 {
    padding: 0 90px;
}
.loginlogo {
    background: rgba(0, 0, 0, 0) url("../images/Web-Log-In.png") no-repeat scroll center center;
    height: 87px;
    margin-top: 54px;
}
.logincontent > div span {
    color: #606060;
    display: block;
    font-family: regular;
    font-size: 15px;
    line-height: 23px;
    margin-top: 35px;
}
.contentcontainer > div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c8ced4;
    border-radius: 4px;
    padding: 0 15px 150px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.logincontent input {
    border: 1px solid #e7e4e1;
    border-radius: 16px;
    box-shadow: none;
    color: #6d7a83;
    font-size: 13px;
}
.logincontent label {
    color: #64605d;
    font-size: 15px;
}
.formbuttons a, .formbuttons button {
    background: #3bc2f2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 14px;
    color: #fff;
    float: right;
    font-family: regular;
    font-size: 15px;
    line-height: 11px;
    margin-top: 30px;
    padding: 9px 40px;
    transition: all 0.3s ease 0s;
}
.form-group {
    text-align: left;
}
.formbuttons button {
    margin-left: 24px;
}
.getstartefdefiniotn {
    background: rgba(0, 0, 0, 0) url("../images/img2.jpg") no-repeat scroll 0 0 / cover ;
    height: 450px;
}
.getstarted {
}
.getstarted .path {
    margin-top: 28px;
}
.getstartefdefiniotn p {
    color: #fff;
    display: inline-block;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.getstartefdefiniotn span {
    color: #fff;
    display: block;
    font-family: regular;
    font-size: 20px;
    text-align: center;
}
.defintion {
    color: #000;
    font-family: regular;
    font-size: 14px;
    margin-top: 70px;
    padding: 0 20%;
}
.howgetstarted {
    margin-top: 50px;
}
.howgetstarted > div {
    padding: 0 33px;
    position: relative;
}
.howgetstarted > div img {
}
.howgetstarted > div h6 {
    background: #3bc2f2 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    height: 61px;
    line-height: 60px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: 100px;
    width: 61px;
}
.howgetstarted > div p {
    color: #404040;
    font-family: bold;
    font-size: 18px;
}
.howgetstarted > div span {
    color: #000;
    display: block;
    font-family: regular;
    font-size: 14px;
}
.shoemoregetstart {
    border: 1px solid #000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: regular;
    font-size: 14px;
    margin-top: 13px;
    padding: 1px 17px;
    transition: all 0.2s ease 0s;
}
.morecameradetails {
    display: none;
    margin-top: 30px;
    padding: 0 70px;
    position: relative;
}
.morecameradetails > div {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 14px;
    overflow: hidden;
}
.morecameradetails > div > div {
    margin: 50px 0 40px;
    text-align: center;
}
.morecameradetails div img {
    display: inline-block;
    float: none;
    margin: auto;
}
.morecameradetails div span {
    color: #000;
    display: inline-block;
    font-family: regular;
    font-size: 14px;
    margin: 13px auto auto;
}
.morecameradetails::before {
    background: #f1f1f1 none repeat scroll 0 0;
    content: "";
    height: 40px;
    left: 49%;
    margin-left: -5px;
    position: absolute;
    right: auto;
    top: -4px;
    transform: rotate(45deg);
    width: 40px;
}
.howgetstarted > div > div:first-child {
    height: 178px;
}
.howgetstarted > div > div {
}
.howgetstarted > div > div a {
    color: #7d7d7d;
    display: inline-block;
    font-size: 27px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
    transition: all 0.25s ease 0s;
}
.shoemoregetstart:hover {
    background: #7d7d7d none repeat scroll 0 0;
    border: 1px solid #7d7d7d;
    color: #fff;
    font-family: regular;
}
.shoemoregetstart:active {
    margin-top: 15px;
}
.howgetstarted > div > div a:hover {
    color: #6d6d6d;
}
.registrationlogo {
    background: rgba(0, 0, 0, 0) url("../images/User.png") no-repeat scroll center center;
    height: 97px;
    margin-top: 54px;
}
.textinputcontain input {
    border-radius: 17px;
    box-shadow: none;
    height: 31px;
}
.forgetpass {
    float: left;
}
.forgetpass, .getback {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 1px solid #c4c4c4 !important;
    border-radius: 16px !important;
    color: #45413e !important;
    font-family: regular !important;
    font-size: 15px !important;
    line-height: 11px !important;
    margin-top: 30px !important;
    padding: 9px 21px !important;
    transition: all 0.3s ease 0s !important;
}
.registration label {
    margin-top: 8px;
}
.textinputcontain span {
    margin-top: 0 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f7f7f7;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e7e4e1;
    border-radius: 16px;
}
.getback {
    margin-right: 13px;
}
.completeaddress {
    height: 32px;
}
.signout {
    background: #ff0d40 none repeat scroll 0 0;
    border-radius: 0 0 5px 4px;
    color: #fff !important;
}
.signout:hover {
    color: #ff0d40 !important;
    font-family: sbold !important;
}
.popover {
    padding: 0;
}
